// SUZIE CHENG
color: #292929;
 font-size: 16px;
 font-family: Outfit;
 font-weight: 400;
 letter-spacing: 1.60px;
 word-wrap: break-word
---
// Work
color: #292929;
 font-size: 16px;
 font-family: Outfit;
 font-weight: 400;
 letter-spacing: 1.60px;
 word-wrap: break-word
---
// About
color: #292929;
 font-size: 16px;
 font-family: Outfit;
 font-weight: 400;
 letter-spacing: 1.60px;
 word-wrap: break-word
---
// Resume
color: white;
 font-size: 16px;
 font-family: Outfit;
 font-weight: 400;
 letter-spacing: 1.60px;
 word-wrap: break-word
---
// Hello!
font-size: 128px;
 font-family: Chambs Demo;
 font-weight: 400;
 letter-spacing: 3.84px;
 word-wrap: break-word
---
// I’m Suzie.
color: #292929;
 font-size: 128px;
 font-family: Chambs Demo;
 font-weight: 400;
 letter-spacing: 3.84px;
 word-wrap: break-word
---
// A product designer exploring how data, infrastructure, and human behavior shape complex digital systems.
color: #292929;
 font-size: 24px;
 font-family: Outfit;
 font-weight: 400;
 line-height: 31.20px;
 word-wrap: break-word
---
// Let’s Chat
color: #FFFEFB;
 font-size: 16px;
 font-family: Outfit;
 font-weight: 700;
 word-wrap: break-word
---
// View Work
color: #292929;
 font-size: 16px;
 font-family: Outfit;
 font-weight: 700;
 word-wrap: break-word
---
// SUZIEXCHENG@GMAIL.COM
color: #292929;
 font-size: 16px;
 font-family: Outfit;
 font-weight: 400;
 line-height: 19.20px;
 word-wrap: break-word
---
// Actively Seeking Full Time Roles
color: #292929;
 font-size: 16px;
 font-family: Outfit;
 font-weight: 300;
 word-wrap: break-word
---
// Civic Technology
color: #292929;
 font-size: 16px;
 font-family: Outfit;
 font-weight: 400;
 word-wrap: break-word
---
// Figma
color: #292929;
 font-size: 16px;
 font-family: Outfit;
 font-weight: 400;
 word-wrap: break-word
---
// Power BI
color: #292929;
 font-size: 16px;
 font-family: Outfit;
 font-weight: 400;
 word-wrap: break-word
---
// The Michigan Department of State
color: #292929;
 font-size: 48px;
 font-family: Outfit;
 font-weight: 700;
 word-wrap: break-word
---
// Redesign of Michigan’s historical election results website into an interactive dashboard serving 7.3M+ voters.
color: #292929;
 font-size: 24px;
 font-family: Outfit;
 font-weight: 400;
 line-height: 31.20px;
 word-wrap: break-word
---
// Product Strategy
color: #292929;
 font-size: 16px;
 font-family: Outfit;
 font-weight: 400;
 word-wrap: break-word
---
// UX Research
color: #292929;
 font-size: 16px;
 font-family: Outfit;
 font-weight: 400;
 word-wrap: break-word
---
// Figma
color: #292929;
 font-size: 16px;
 font-family: Outfit;
 font-weight: 400;
 word-wrap: break-word
---
// KinFinity — Develop For Good
color: #292929;
 font-size: 48px;
 font-family: Outfit;
 font-weight: 700;
 word-wrap: break-word
---
// Heritage platform helping families of African descent preserve stories and organize reunions across generations.
color: #292929;
 font-size: 24px;
 font-family: Outfit;
 font-weight: 400;
 line-height: 31.20px;
 word-wrap: break-word
---
// Data Visualization
color: #292929;
 font-size: 16px;
 font-family: Outfit;
 font-weight: 400;
 word-wrap: break-word
---
// Urban Systems
color: #292929;
 font-size: 16px;
 font-family: Outfit;
 font-weight: 400;
 word-wrap: break-word
---
// R
color: #292929;
 font-size: 16px;
 font-family: Outfit;
 font-weight: 400;
 word-wrap: break-word
---
// NYC Chinatown Connectivity Index
color: #292929;
 font-size: 48px;
 font-family: Outfit;
 font-weight: 700;
 word-wrap: break-word
---
// Interactive map taking 1M+ data points to explore how transit, migration, and business networks shape modern NYC Chinatowns.
color: #292929;
 font-size: 24px;
 font-family: Outfit;
 font-weight: 400;
 line-height: 31.20px;
 word-wrap: break-word
---
// Product Innovation
color: #292929;
 font-size: 16px;
 font-family: Outfit;
 font-weight: 400;
 word-wrap: break-word
---
// User Research
color: #292929;
 font-size: 16px;
 font-family: Outfit;
 font-weight: 400;
 word-wrap: break-word
---
// Prototyping
color: #292929;
 font-size: 16px;
 font-family: Outfit;
 font-weight: 400;
 word-wrap: break-word
---
// ShakeSphere — The<br/>Ultrasonic Cleaner
color: #292929;
 font-size: 48px;
 font-family: Outfit;
 font-weight: 700;
 word-wrap: break-word
---
// Portable ultrasonic cleaner ball rethinking how reusable water bottles stay hygienic once traditional cleaning fails.
color: #292929;
 font-size: 24px;
 font-family: Outfit;
 font-weight: 400;
 line-height: 31.20px;
 word-wrap: break-word
---
// In the 
font-size: 80px;
 font-family: Chambs Demo;
 font-weight: 400;
 letter-spacing: 4px;
 word-wrap: break-word
---
// News.
color: #292929;
 font-size: 80px;
 font-family: Chambs Demo;
 font-weight: 400;
 letter-spacing: 4px;
 word-wrap: break-word
---
// UMSI students partner with the Department of State to boost election transparency through UX
color: #292929;
 font-size: 16px;
 font-family: Outfit;
 font-weight: 400;
 line-height: 19.20px;
 word-wrap: break-word
---
// Integrated Product Design Winter 2025: Innovative Solutions for Water Challenges
color: #292929;
 font-size: 16px;
 font-family: Outfit;
 font-weight: 400;
 line-height: 19.20px;
 word-wrap: break-word
---
// UMSI champions tech for social good through "Look to Michigan" campaign
color: #292929;
 font-size: 16px;
 font-family: Outfit;
 font-weight: 400;
 line-height: 19.20px;
 word-wrap: break-word
---
// Let’s 
font-size: 65px;
 font-family: Chambs Demo;
 font-weight: 400;
 letter-spacing: 3.25px;
 word-wrap: break-word
---
// Connect!
color: white;
 font-size: 65px;
 font-family: Chambs Demo;
 font-weight: 400;
 letter-spacing: 3.25px;
 word-wrap: break-word
---
// Coffee Chat
color: white;
 font-size: 16px;
 font-family: Outfit;
 font-weight: 400;
 letter-spacing: 1.60px;
 word-wrap: break-word
---
// LinkedIn
color: white;
 font-size: 16px;
 font-family: Outfit;
 font-weight: 400;
 letter-spacing: 1.60px;
 word-wrap: break-word
---
// Email
color: white;
 font-size: 16px;
 font-family: Outfit;
 font-weight: 400;
 letter-spacing: 1.60px;
 word-wrap: break-word
---
// Resume
color: white;
 font-size: 16px;
 font-family: Outfit;
 font-weight: 400;
 letter-spacing: 1.60px;
 word-wrap: break-word
---
// © 2026 Suzie Cheng. All Rights Reserved.
color: white;
 font-size: 12px;
 font-family: Outfit;
 font-weight: 300;
 word-wrap: break-word
